html,body {
  font-family: 'Titillium Web', sans-serif;
  height:100%;
}

section:nth-of-type(even) {
  background: #e2e2e2;
}

iframe {
  height: 250px;
  width: 100%;
  margin:0;
  padding:0;
}

#cookies {
  display:none;
  position:fixed;
  left:0px;
  right:0px;
  bottom:0px;
  width:100%;
  text-align:center;
  min-height:40px;
  background-color: rgba(0, 0, 0, 0.5);
  color:#fff;
  z-index:99999;
}

.inner {
  padding:10px;
  font-size:12px;
  top:30%;
}

.inner a.ok {
  padding:4px;
  color:#00ff2e;
  text-decoration:none;
}

.inner a.info {
  padding-left:5px;
  text-decoration:none;
  color:#faff00;
}

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jumbotron {
  background: transparent;
  padding-top: 125px;
}

.carousel-item{
  height: 100vh;
}

.carousel-overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #26292E;  /* fallback for old browsers */
}

.carousel-fade .carousel-inner .item {
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}

.carousel-inner .item {
  height: 100%;
}

.carousel-caption {
 bottom: 33%;
}

.carousel-indicators{
  position: relative;
  bottom: 20%;
}

.thumbs {
  padding:10px;
  width:270px;
}

.image-container {
  margin: auto;
  min-height: 200px;
  width: 100%;
  position: relative;
}

.image-container:hover .overlay {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.image-container:hover .text-overlay {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .5s ease, opacity 1.3s ease;
  transition: transform .5s ease, opacity 1.3s ease;
}

.image-container .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  margin: auto;
  width: 0px;
  height: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .4s ease;
  transition: .4s ease;
}
.image-container .text-overlay {
  font-size: 30px;
  color: #fff;
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
  height: 30px;
  line-height: 30px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .5s ease, opacity .7s ease;
  transition: transform .5s ease, opacity .7s ease;
}
#controls-gallery {
  text-align: center;
  margin-bottom: 13px;
}

#controls-gallery > button {
  margin: .25rem;
}

.footer {
  bottom: 0;
  width: 100%;
  min-height: 60px;
  line-height: 60px;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .thumbs {
    width:100%;
  }
}

@media screen and (min-width: 992px) {
  section {
    min-height: 100vh;
  }
}

@media screen and (max-height: 768px) {
  section {
    height: auto;
  }
}
